# Игнорировать файлы Python кэша
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальное окружение
venv/
env/

# Игнорировать файлы настроек PyCharm
.idea/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать системные файлы
.DS_Store  # MacOS
Thumbs.db  # Windows

# Игнорировать конфиденциальные данные (если есть)
*.env
*.secret